header{
   min-height: 400px;
    text-align: center;
    margin: 10px;
   h1{
    color:$color1;
     font-family: $font1;
     padding-top: 200px;
     padding-bottom: 50px;
     font-size: 4rem;
     text-transform: uppercase;
   }
   p{
    color: $color1;
    font-family: $font1;
    font-style: italic;
    font-weight: 200;
   }
    button{
        background: transparent;
        border-radius: 300px ;
        border: 2px solid $color1;
        padding: 10px;
        width: 40px;
        height: 40px;
        margin: 50px;
    }
   i{
    display: block;
    color: $color1;
    font-size: 1rem;
    border: 1px $color1;
    border-radius: 150px;

}
 
}