@media screen and (max-width: 1038px ) {
    .main-top{
        h3:before{
            left: 80px;
        }
        h3:after{
            right: 80px;

        }
    }
    
}
@media screen and (max-width: 700px ) {
    header h1{
        font-size: 3.5rem;
    }
    .nav-left button{
        font-size: 0.6rem;

    }
    .main-bottom{
        display: block;
    }
    footer{
        display: block;
    }
    
}