@font-face {
    font-family: "font1";
    src: url(../assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face{
    font-family: "font2";
    src: url(../assets/fonts/Merriweather-Light.ttf);
}
$font1:font1, sans-serif;
$font2:font2, sans-serif;
$white1:rgb(243, 243, 243);
$black1:rgb(17, 17, 17);
$grey1:rgb(209, 209, 209);
$grey2: rgb(233, 233 , 233);
$grey3:rgb(105,105,105);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
@mixin title{
    font-family: $font1;
    font-size: 3rem;
    letter-spacing: 6px;
    text-transform: uppercase;

}
body{
    background: url(../assets/images/bg.jpg)fixed center/cover ;
   font-family: $font2, sans-serif;
   max-width: 1300px;
   margin: 0 auto;
   &:before{
    content: "";
    background: $black1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 1;
    animation:animbefore 1.5s ease forwards ;
    transition-delay: 0.15s;
   }
   @keyframes animbefore {
    to{
        opacity: 0;
    }
    
   }
}
a, a:visited{
    color: $white1;
}
li{
    list-style: none;
}

.fullstory{
    background: transparent;
    text-transform: uppercase;
    padding: 10px 40px;
    cursor: pointer;
    font-family: $font1, sans-serif;
    font-weight: 900;
    transition: 0.5s;
    font-size: 0.7rem;
    letter-spacing: 2px;

    &:hover{
        background: $grey1;
        letter-spacing: 3px;
    }
}

    