@font-face {
  font-family: "font1";
  src: url(../assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
  font-family: "font2";
  src: url(../assets/fonts/Merriweather-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: url(../assets/images/bg.jpg) fixed center/cover;
  font-family: font2, sans-serif, sans-serif;
  max-width: 1300px;
  margin: 0 auto;
}
body:before {
  content: "";
  background: rgb(17, 17, 17);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 1;
  animation: animbefore 1.5s ease forwards;
  transition-delay: 0.15s;
}
@keyframes animbefore {
  to {
    opacity: 0;
  }
}

a, a:visited {
  color: rgb(243, 243, 243);
}

li {
  list-style: none;
}

.fullstory {
  background: transparent;
  text-transform: uppercase;
  padding: 10px 40px;
  cursor: pointer;
  font-family: font1, sans-serif, sans-serif;
  font-weight: 900;
  transition: 0.5s;
  font-size: 0.7rem;
  letter-spacing: 2px;
}
.fullstory:hover {
  background: rgb(209, 209, 209);
  letter-spacing: 3px;
}

header {
  text-align: center;
}
header .header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  transform: translateY(50%);
  opacity: 0;
  position: relative;
  animation: titlemove 2s forwards;
}
header .header-title h1 {
  font-family: font1, sans-serif;
  font-size: 3rem;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-size: 4rem;
  color: rgb(243, 243, 243);
  width: 60%;
  font-weight: 800;
}
@media screen and (max-width: 900px) {
  header .header-title h1 {
    font-size: 2rem;
  }
}
header .header-title p {
  color: rgb(243, 243, 243);
  font-family: font1, sans-serif;
  font-style: italic;
  font-weight: 200;
  margin: 30px auto 70px;
}
header .header-title span {
  border: 1px solid rgb(243, 243, 243);
  border-radius: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  transition: 0.5s;
}
header .header-title span:hover {
  font-size: 1.5rem;
  border: 1px solid rgb(209, 209, 209);
}
@keyframes titlemove {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 65px;
  z-index: 100;
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.253);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
header nav .nav-left {
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .nav-left:hover li:not(:hover) {
  background: none;
  color: rgb(243, 243, 243);
}
header nav .nav-left li {
  font-family: font1, sans-serif;
  font-size: 3rem;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 2px;
  font-weight: 700;
  padding: 10px;
  color: rgb(243, 243, 243);
  height: 65px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  header nav .nav-left li {
    font-size: 0.6rem;
  }
}
header nav .nav-left li:hover {
  color: rgb(17, 17, 17);
  background: rgb(233, 233, 233);
}
header nav .nav-left li:first-child {
  color: rgb(17, 17, 17);
  background: rgb(233, 233, 233);
}
header .nav-right ul {
  display: flex;
  flex-direction: row;
}
header .nav-right ul li:hover {
  font-size: 1.5rem;
  color: rgb(209, 209, 209);
}
header .nav-right ul i {
  padding: 25px;
}
@media screen and (max-width: 581px) {
  header .nav-right ul i {
    display: none;
  }
}

main {
  background: rgb(243, 243, 243);
  width: 90%;
  margin: 0 auto 60px;
}
main .main-top {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  display: block;
}
main .main-top h3 {
  font-weight: 200;
  font-size: 0.9rem;
  padding: 50px;
  position: relative;
}
main .main-top h3:before {
  content: "";
  height: 1px;
  position: absolute;
  width: 37%;
  background-color: rgb(209, 209, 209);
  top: 50%;
  left: 0;
}
@media screen and (max-width: 681px) {
  main .main-top h3:before {
    width: 25%;
  }
}
main .main-top h3:after {
  content: "";
  height: 1px;
  position: absolute;
  width: 37%;
  background-color: rgb(209, 209, 209);
  top: 50%;
  right: 0;
}
@media screen and (max-width: 681px) {
  main .main-top h3:after {
    width: 25%;
  }
}
main h2 {
  text-transform: uppercase;
  font-family: font1, sans-serif;
  font-size: 2rem;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  font-weight: 900;
}
main p {
  color: black;
  font-family: font2, sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 0.8rem;
  width: 60%;
  margin: 0 auto;
  padding: 50px;
  line-height: 40px;
}
@media screen and (max-width: 681px) {
  main p {
    font-size: 0.6rem;
    width: 90%;
  }
}
main img {
  display: block;
  width: 100%;
  margin: 0 auto;
}
main .btn-main {
  padding-bottom: 40px;
}
main button {
  display: block;
  padding: 10px 40px;
  margin: 30px auto;
}
main .main-bottom {
  display: grid;
  grid-template-columns: 50% 50%;
  background: rgb(243, 243, 243);
  text-align: center;
  border-top: 1px solid rgb(209, 209, 209);
}
@media screen and (max-width: 681px) {
  main .main-bottom {
    display: block;
  }
}
main .main-bottom h5 {
  font-size: 0.8rem;
  font-family: font2, sans-serif;
  font-weight: 400;
  padding: 50px 0 30px 0;
}
main .main-bottom h4 {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: font1, sans-serif;
  padding: 20px;
  width: 50%;
  margin: 0 auto;
}
main .main-bottom img {
  display: block;
  width: 80%;
  margin: 0 auto;
}
main .main-bottom p {
  color: black;
  font-family: font2, sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 0.8rem;
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
  line-height: 20px;
  text-align: left;
  min-height: 120px;
}
main .main-bottom .btn-main-bot {
  padding-bottom: 50px;
}
main .main-bottom .main-bottom-containers-left {
  border-right: 1px solid rgb(209, 209, 209);
}

footer {
  display: grid;
  grid-template-columns: 50% 50%;
  background: rgb(233, 233, 233);
  width: 90%;
  margin: 0 auto 70px;
}
@media screen and (max-width: 750px) {
  footer {
    display: block;
  }
}
footer .footer-left {
  display: grid;
  grid-template-rows: 15% 15% 35% 35%;
  margin: 30px auto;
  width: 90%;
  grid-template-areas: "name" "email" "message" "sub";
  gap: 20px;
  font-family: font2, sans-serif;
}
footer .footer-left label {
  display: block;
  padding: 20px;
  font-family: font1, sans-serif;
  font-size: 0.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
footer .footer-left input {
  display: block;
  width: 90%;
  margin: 0 auto;
  height: 50px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.199);
  font-family: font2, sans-serif;
}
footer .footer-left textarea {
  display: block;
  resize: none;
  height: 100px;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 20px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.199);
}
footer .footer-left .input-name {
  grid-area: name;
  display: block;
}
footer .footer-left .input-email {
  grid-area: email;
  display: block;
}
footer .footer-left .input-message {
  grid-area: message;
  display: block;
}
footer .footer-left #submit {
  grid-area: sub;
  display: block;
  margin: 20px 0 10px 20px;
  width: 40%;
  border: 1px solid rgb(209, 209, 209);
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: font1, sans-serif;
  cursor: pointer;
  transition: 0.4s;
}
footer .footer-left #submit:hover {
  background: rgb(243, 243, 243);
  letter-spacing: 3px;
}

.footer-right {
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  align-content: center;
  border: 1px solid rgba(0, 0, 0, 0.199);
}
.footer-right h6 {
  font-size: 0.8rem;
  font-family: font1, sans-serif;
  text-transform: uppercase;
  width: 30%;
}
.footer-right p {
  color: black;
  font-family: font2, sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 0.8rem;
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
  line-height: 20px;
  text-align: left;
  min-height: 120px;
}
.footer-right .footer-right-container {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 30px 0 20px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.199);
  height: 100%;
  align-content: center;
  align-items: center;
}
.footer-right .footer-right-container-icon {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 30px 0 20px 20px;
  align-content: center;
  align-items: center;
}
.footer-right .footer-right-container-icon div {
  display: flex;
  justify-content: space-around;
}
.footer-right .footer-right-container-icon button {
  background: transparent;
  border: none;
  cursor: pointer;
}
.footer-right .footer-right-container-icon button i {
  border-radius: 200px;
  border: 1px solid rgba(0, 0, 0, 0.199);
  padding: 17px;
  transition: 0.4s;
}
.footer-right .footer-right-container-icon button i:hover {
  background: rgb(243, 243, 243);
  font-size: 1.2rem;
}/*# sourceMappingURL=index.css.map */